<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/reset.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="Beth Secor" href="http://bethsecor.github.io/feed.xml" />
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo|Sacramento|Josefin+Slab' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+13px|Josefin+Slab:600,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="header">
    <h1>{{ site.title }}</h1>
  </div>
  <div id="navmenu">
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/">Posts</a></li>
      <li><a href="https://github.com/bethsecor">Github</a></li>
    </ul>
  </div>
  <div class="container">
